# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.RealTimeStrategy.iml
# Datasource local storage ignored files
/../../../../../../../../../:\DevTools\Projects\Unity\Courses\RealTimeStrategy\.idea\.idea.RealTimeStrategy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
